<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Haack.Encourage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Haack.Encourage.Properties.Settings>
            <setting name="Encouragements" serializeAs="String">
                <value>
Nice Job!
Way to go!
Wow, nice change!
So good!
Bravo!
You rock!
Well done!
I see what you did there!
Genius work!
Thumbs up!
Coding win!
FTW!
Yep!
Nnnnailed it!</value>
            </setting>
        </Haack.Encourage.Properties.Settings>
    </userSettings>
</configuration>